/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

/* Nome no topo */
header{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* RA */
p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

/* Foto */
#foto{
    display: block;
    margin: 20px auto;
    width: 180px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


ul{
    margin-top: 20px;
    padding-left: 20px;
    line-height: 1.6;
    font-size: 17px;
}

li{
    margin-bottom: 15px;
}


footer{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid #ccc;
}


footer h2{
    margin-bottom: 10px;
}


a{
    color: #0077b5;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}        
